<h2>All Events:</h2>

<ul>
    <% @events.each do |event| %>
        <li class="event">
            <%= link_to event.title, event_path(event) %>
            Description:
            <%= event.description %>
            Made by:
            <%= event.creator.name%>
        </li>  
    <% end%>  
</ul>